*{margin:0; padding:0;}
body{margin:0; text-align:center; }
.clearfix {clear:both;}
#sistema {text-align:left; margin:0 auto; width:1000px;}
#signin {margin:0 auto; width:350px; border:1px solid #CCC; position:relative; top:180px; padding:5px; padding-bottom: 8px;
}
#form-signin {padding:4px;}
#form-signin input {border:1px solid #CCC; }
#Entrar {float:right; margin-right:40px; margin-top:8px;}
#welcome {background:red; color:#FFF; margin:0 auto; width:350px; border:1px solid #CCC; position:relative; top:180px; padding:5px; 
border-bottom:0px; }
.field {margin-bottom:5px; text-align:center; }
#forgot-password {position:relative; top:26px;}
h4.alert_success {display: block;width: 90%;background: #E2F6C5;background-position: 10px 10px;border: 1px solid #79C20D;
                  color: #32510F;padding-top:2px;padding-bottom:2px;margin-bottom:5px;text-indent: 5px;font-size: 14px;}
#esqueceuSenha {position:relative; right:10px;}
#troca-senha {margin-right:80px;}
#form-recupera {margin-top:30%;}